 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 0;
}

.u-section-1 .u-custom-html-2 {
  margin: 30px auto 0;
}

.u-section-1 .u-custom-html-3 {
  margin: 30px auto 0;
}

.u-section-1 .u-custom-html-4 {
  margin: 30px auto 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 135px;
}

.u-section-2 .u-text-1 {
  margin: 20px 0 40px;
}