.u-section-1 .u-sheet-1 {
  min-height: 159px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 11px 0 52px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 0;
}

.u-section-2 .u-custom-html-2 {
  margin: 30px auto 60px;
}.u-section-3 .u-sheet-1 {
  min-height: 361px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  margin: 29px 0 60px;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-custom-html-1 {
  margin-bottom: 60px;
}.u-section-5 .u-sheet-1 {
  min-height: 285px;
}

.u-section-5 .u-text-1 {
  margin: 29px 0 60px;
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 500px;
}

.u-section-6 .u-custom-html-1 {
  margin-bottom: 60px;
}.u-section-7 .u-sheet-1 {
  min-height: 383px;
}

.u-section-7 .u-text-1 {
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  margin: 128px auto 23px;
  padding: 8px 28px 8px 27px;
}