.u-section-1 .u-sheet-1 {
  min-height: 146px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 15px 0 60px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 60px;
}.u-section-3 .u-sheet-1 {
  min-height: 339px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  margin: 60px 0;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-custom-html-1 {
  margin-bottom: 0;
}

.u-section-4 .u-custom-html-2 {
  margin: 30px auto 60px;
}.u-section-5 .u-sheet-1 {
  min-height: 262px;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  margin: 32px 0 60px;
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 500px;
}

.u-section-6 .u-custom-html-1 {
  margin-bottom: 60px;
}.u-section-7 .u-sheet-1 {
  min-height: 378px;
}

.u-section-7 .u-text-1 {
  font-size: 1.25rem;
  margin: 28px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  margin: 165px auto 28px;
  padding: 8px 28px 8px 27px;
}